<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Asset Manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Assets</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/assets">View All</a></li>
              <li><a class="dropdown-item" href="/assets?category=Phone">Phones</a></li>
              <li><a class="dropdown-item" href="/assets?category=LaptopTablet">Laptops / Tablets</a></li>
              <li><a class="dropdown-item" href="/assets?category=Vehicle">Vehicles</a></li>
              <li><a class="dropdown-item" href="/assets?category=Tool">Tools</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/assets/new">New Asset</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Locations</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/locations">View All</a></li>
              <li><a class="dropdown-item" href="/locations?category=OfficeWarehouse">Offices and Warehouses</a></li>
              <li><a class="dropdown-item" href="/locations?category=Jobsite">Jobsites</a></li>
              <li><a class="dropdown-item" href="/locations?category=Vehicle">Vehicles</a></li>
              <li><a class="dropdown-item" href="/locations?category=Employee">Employees</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/locations/new">New Location</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>