<% layout('layouts/boilerplate') %> 
<h1>Heres the Assets!</h1>
    <ul>
        <% for(let a of assets) {%>
            <li><%= a.name %> - <a href="/assets/<%= a._id %>"><%= a.assetTag %></a></li>
        <% } %>  
    </ul>