<% layout('layouts/boilerplate') %> 
<h1>Assets!</h1>
    <div class="list-group">
        <% for(let a of assets) {%>
            <a class="list-group-item" href="/assets/<%= a._id %>">
            <%= a.name %> - <%= a.assetTag %>
            </a> 
        <% } %>  
    </div>