<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assets</title>
</head>
<body>
    <h1>Heres the Assets!</h1>

    <ul>
        <% for(let a of assets) {%>
            <li><%= a.name %> - <a href="/assets/<%= a._id %>"><%= a.assetTag %></a></li>
        <% } %>  
    </ul>

</body>
</html>