<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Asset</title>
</head>
<body>
    <h1>New Asset</h1>
    <form action="/assets" method="post">
        <label for="asset-name">Name: </label>
        <input type="text" name="asset[name]" id="asset-name"> <br>
        <label for="asset-category">Category: </label>
        <select name="asset[category]" id="asset-category">
            <option value="Vehicle">Vehicle</option>
            <option value="Tool">Tool</option>      
            <option value="Phone">Phone</option>
            <option value="Laptop/Tablet">Laptop / Tablet</option>
        </select>
        <br>
        <label for="asset-id">Unique ID: </label>
        <input type="text" name="asset[uniqueID]" id="asset-id">
        <small id="ID-help-block">ie Serial, Phone Number, VIN, etc</small>
        <p>
            Is this asset assigned?
            <label>
                <input type="radio" name="asset[assigned]" value="true">
                Yes</label>
            <label>
                <input type="radio" name="asset[assigned]" value="false">
                No</label>
        </p>
        <label for="asset-location">Location: </label>
        <input type="text" name="asset[location]" id="asset-location"><br>
        <label for="asset-tag">Tag Number: </label>
        <input type="text" name="asset[assetTag]" id="asset-tag"><br>
        <button>Submit</button>
    </form>
    
    <a href="/assets">Back to Assets</a>
</body>
</html>